<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Sox</h1>
    <p>I've just finished week 2 of the 12 Web Apps in 12 Days Challenge.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now.</p>
    <p>If you'd like to give it  try, visit <a href="https://mackenziechild.me">mackenziechild.me</a></p>
  </div>
</div>